<!-- Modal pour les détails du joueur -->
<div class="modal fade rounded-0" id="playerDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered rounded-0">
    <div class="modal-content rounded-0">
      <div class="modal-header rounded-0 d-flex align-items-center">
        <h5 class="modal-title mb-0">Détails du joueur</h5>
        <button
          type="button"
          class="btn-close rounded-0 bg-light"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body" id="playerDetailsContent">
        <!-- Les détails du joueur seront injectés ici -->
      </div>
    </div>
  </div>
</div>
